.test {
    background-color: green;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;

    background-color: rgb(235, 241, 247);
    display: flex;

}

nav {
    display: flex;
    width: 100%;
    padding-right: 15px;
    justify-content: flex-end;
}

.logo-wrapper {
    padding-left: 15px;
    padding-top: 5px;

}

ul {
    display: flex;
    background-color: rgb(181, 210, 239);
}

li,
a {
    list-style: none;
    text-decoration: none;
}

li {
    margin: 10px;
}




/* .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
} */
/* .col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
} */

.menu {
    margin: 10px;
    color: aliceblue;
}